@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

#home {
  background: #000 url(../../img/stars_bg.png) center repeat;
  overflow: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
  overflow: hidden;
}
.header_slayd{
  border-radius: 20px !important;
  height:70vh;
}
.awssld {
  border-radius: 20px;
  overflow: hidden;
}
.awssld__content img{
  border-radius: 20px !important;
}
.sec_name {
  text-align: center;
}
.about {
  background: #000 url(../../img/stars_bg.png) center repeat;
}
.about_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.title_name {
  height: 90px;
  margin-top: 90px;
  margin-bottom: 90px;
}
.about_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #d6d6d6;
  margin-bottom: 60px;
}
.about_text {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: justify;
  color: #b0b1b5;
}
.about_btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: auto !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  background: #ffd100;
  box-shadow: 0px 0px 20px 6px rgba(255, 209, 0, 0.15);
  border-radius: 55px;
  letter-spacing: 0.105em;
  color: #16181d;
  width: 242px;
  height: 61px;
  transition: 0.3s;
}
.about_btn:hover,
.about_btn:focus {
  background: linear-gradient(
    180deg,
    #5d5d5d 0%,
    rgba(93, 93, 93, 0.15) 80.73%,
    rgba(93, 93, 93, 0) 100%
  );
  color: #a0a0a0;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}
.about_img {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#portfolio {
  background: #000 url(../../img/stars_bg.png) center repeat;
}

.port_button {
  display: flex;
  justify-content: space-around;
}

.port_btn {
  height: 61px !important;
  width: 182px !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 28px !important;
  margin-bottom: 85px !important;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.port-img {
  display: flex;
  margin: auto;
  height: 320px;
  width: 100% !important;
  object-fit: cover;
  width: 320px !important;
  transition: 0.3s;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  background: #252428;
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.items:hover > .port-link {
  background: #ffd100;
  color: #000;
  box-shadow: 0px 0px 20px 6px rgba(255, 209, 0, 0.15);
  outline: none !important;
  border: none !important;
}
.port-link {
  text-decoration: none;
  margin-top: 34px !important;
  margin-bottom: 68px !important;
  height: 61px !important;
  width: 182px !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 28px !important;
  background: linear-gradient(
    180deg,
    #5d5d5d 0%,
    rgba(93, 93, 93, 0.15) 80.73%,
    rgba(93, 93, 93, 0) 100%
  );
  color: #a0a0a0;
  box-shadow: none;
}
.port_icon {
  font-size: 22px;
  margin-left: 15px;
}

#contack {
  background: #000 url(../../img/stars_bg.png) center repeat;
}
.contacmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contackForm input {
  background: #252428;
  border-radius: 15px;
  height: 54px;
  width: 100%;
  border: none;
  outline: none;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #b0b1b5;
}
.contackTextarea {
  background: #252428;
  border-radius: 15px;
  height: 222px;
  border: none;
  outline: none;
  padding-top: 15px;
  padding-left: 30px;
  margin-bottom: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #b0b1b5;
}
.karta {
  display: flex;
  justify-content: center;
}
.karta iframe {
  width: 90%;
  border-radius: 20px;
  height: 387px;
  margin-top: 90px;
}
.form_btn {
  width: 182px;
  height: 61px;
}
.contack_btn {
  display: flex;
  flex-direction: column;
}
#footer {
  padding-top: 80px;
  background: #000 url(../../img/stars_bg.png) center repeat;
  text-align: center;
}

#footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #ffffff;
  padding-bottom: 30px;
  margin-bottom: 0;
}
#footer span {
  font-weight: 100;
  font-family: Roboto;
  font-style: thin;
  font-size: 14px;
  line-height: 171.69%;
  text-align: center;
  letter-spacing: 0.075em;
  color: #ffffff;
}

.backhistory{
  position: fixed;
  left: 130px;
  text-decoration: none;
  color: #ffD100;
  top: 35px;
  font-size: 24px;
  font-family: Roboto;
  z-index: 99;
  cursor: pointer;

  
}
.backhistory:hover{
  color: #ffD100;
}
.backhis{
  font-size: 35px !important;
}

@media (min-width: 992px) {
  
  #Team {
    background: #000 url("../../img/team_bg.png") center/cover no-repeat;
    width: 100%;
    height: 1024px;
  }
  .team_imgs {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .team_img1{
    position: relative;
    position: absolute;
    width: 284px;
    height: 376px;
    right: 22px;
    top: 24px;
    border-radius: 15px;
  }
  .team_info{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.095em;
    color: #16181D
  }
  .team_info p{
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.025em;
    font-style: normal;
    font-weight: normal;
    margin-top: -12px;
    margin-bottom: 9px;
  }
  .team_icons{
    color: #fff;
    font-size: 20px;
  }
  .team_icon-1 a, .team_icon-5 a, .team_icon-8 a{
    color: black;
  }
  .team_icon-2 a, .team_icon-3 a, .team_icon-4 a, .team_icon-6 a,  .team_icon-7 a{
    color: #fff;
  }
  .team-icon{
    height: 20px !important;
    width: 20px !important;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .team_link1{
    width: 100%;
    height: 150px;
    position: absolute;
    position: relative;
    bottom: 150px;
    background: #ffd100;
    border-radius: 0px 0px 0% 0%;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    border-radius: 0 0 15px 15px;
  }
  .team_info1{
    position: absolute;
    bottom: 12px;
    left: 22px;
  }
  .team_icon-1{
    position: absolute;
    right: 22px;
    bottom: 22px;
    color: #000;
    display: flex;
    flex-direction: column;
  }
  .team1 {
    /* position: absolute;
    width: 284px;
    height: 376px;
    right: 22px;
    top: 24px;
    border-radius: 15px; */
  }
  .team_img8 {
    position: relative;
    position: absolute;
    width: 284px;
    height: 341px;
    right: 22px;
    top: 425px;
    background: rgba(224, 224, 224, 0.93);
    border-radius: 10px 0px 0px 10px;
  }
  .team8 {
    position: absolute;
    width: 181px;
    height: 181px;
    top: 41px;
    right: 54px;
  }
  .team_info8{
    position: absolute;
    bottom: 22px;
    left: 22px;
  }
  .team_icon-8{
    position: absolute;
    right: 25px;
    bottom: 45px;
    color: #000;
  }
  .team_img4 {
    width: 284px;
    height: 214px;
    position: absolute;
    right: 22px;
    bottom: 22px;
  }
  .team_info4{
    position: absolute;
    right: 4px;
    bottom: 18px;
    color: #ffffff;
  }
  .team_icon-4{
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;
    flex-direction: column;
  }
  .team_img2 {
    top: 146px;
    position: absolute;
    right: 330px;
    width: 284px;
    height: 323px;
  }
  .team_info2{
    position: absolute;
    left: 22px;
    bottom: -80px;
    color: #fff;
  }
  .team_icon-2{
    position: absolute;
    bottom: -50px;
    right: 0;
  }
  .team_img3 {
    top: 557px;
    right: 330px;
    position: absolute;
    width: 538px;
    height: 248px;
    border-radius: 10px;
  }
  .team_info3{
    position: absolute;
    bottom: 15px;
    right: 111px;
    color: #fff;
  }
  .team_icon-3{
    position: absolute;
    bottom: 40px;
    right: 30px;
  }
  .team_img7 {
    position: absolute;
    width: 341px;
    height: 168px;
    right: 330px;
    bottom: 22px;
    border-radius: 4px;
  }
  .team_info7{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
  }
  .team_icon-7{
    position: absolute;
    right: 11px;
    bottom: 11px;
  }
  .team_img5 {
    position: absolute;
    width: 349px;
    height: 318px;
    left: 22px;
    top: 684px;
  }
  .team_link5{
    width: 100%;
    height: 90px;
    position: absolute;
    position: relative;
    background: rgba(255, 209, 0, 0.56);
    bottom: 90px;
  }
  .team_info5{
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 100%;
  }
  .team_icon-5{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #000;
    width: 100%;
  }
  .team_img6 {
    position: absolute;
    width: 255px;
    height: 237px;
    left: 371px;
    top: 258px;
    border-radius: 10px;
  }
  .team_info6{
    position: absolute;
    top: -60px;
    left: 10px;
    color: #fff;
  }
  .team_icon-6{
    position: absolute;
    top: -35px;
    right: 30px;
  }
}

.topFixed{
  position: relative;
  position: fixed;
  bottom: -45px;
  right: -45px;
  height: 90px;
  width: 90px;
  background: #ffd100;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #ffd0008c;
}
.fixed_icon{
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 16px;
}

@media (max-width: 992px) {
  .header_slayd{
    height: 320px;
  }
  .backhistory{
    left: 20px;
    top: 10px;
  }
  .nav-menu.active{
    background: rgba(0, 0, 0, 0.741) !important;
    padding-bottom: 30px;
    border: 2px solid black;
  }
  .contack_items{
    display: none;
  }
  .about_img {
    margin-top: 30px;
    width: 100%;
  }
  .port_button {
    flex-wrap: wrap;
  }
  .port_btn {
    margin-bottom: 20px !important;
  }
  .contack_btn {
    width: 100%;
  }
  .karta iframe {
    height: 280px;
  }
  #Team {
    background: #000 url("../../img/team_bg.png") center/contain;
    width: 100%;
    height: 100%;
  }
  .team_imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  
  }
  .team_img{
    width: 300px;
    height: 260px;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .team_num{
    width: 320px;
    border-radius: 5px;
    height: 340px;
    transform: scale(1.0);
    object-fit: cover;
    transition: 0.3s;
  }
  .team_num:hover{
    transform: scale(1.2);
  }
  .team_name{
    margin-bottom: -5px;
  }
  .team_work{
    margin-bottom: 7px;
  }
  .team_info{
    position: absolute;
    left: 10px;
    bottom: 0px;
  }
  .team_link_med{
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #ffd00081;
  }
  .team_icons{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .team_icons a{
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
  }
}
